
{% extends 'home/base.html' %}
{% block content %}
<h3>New Url Created</h3>
<iframe src="https://giphy.com/embed/EA4ZexjGOnfP2" width="100%" height="100%" frameBorder="0" ></iframe>
<div style="width:100%;word-wrap: break-word;">
    <hr>
    <h5><Strong>Lytl </Strong>Url :-</h5>
    <a href="{{object.shortcode}}">www.lytl.in/{{object.shortcode}}</a>
    <br /> <br />
    <h5><Strong>Gigantic</Strong> Url :-</h5>
    <p>{{object.url}}</p>
    <hr>
    <button onclick="Clipboard_CopyTo('{{object.shortcode}}')" class="btn btn-primary">Copy URL</button>
    <a href="." class="btn btn-primary">NEW</a>
    <hr><br />
</div>

{% endblock %}