<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(to right, #96deda  , #f0d1e5);
        }
        </style>
</head>
<body>
    <div style="margin-left:5%;margin-top:2%;width:90%;text-align:center;">
    <h4><strong>404</strong> URL doesn't Exist</h4>
    <br /><hr>
    <iframe src="https://giphy.com/embed/3ofSB5g4TPwu92KRO0" width ="100%" height="100%"frameBorder="0"></iframe>
        <hr><br />
<a href="." class="btn btn-primary">lytl.in</a>
</div>
</body>
</html>

