<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(to right, #96deda  , #f0d1e5);
        }
        </style>
</head>
<body>
    <div style="margin-left:5%;margin-top:2%;width:90%;text-align:center;">
    <h4> Internal Server Error</h4>
    <h6>Length of Gigantic url may be exceeding maximum internal limit</h6>
    <br /><hr>
    <iframe src="https://giphy.com/embed/qPVzemjFi150Q" width="100%" height="100%" frameBorder="0" ></iframe>  
    <hr><br />  
    <a href="." class="btn btn-primary">lytl.in</a>
</div>
</body>
</html>

